@media (max-width: 1340px) {

    
    main .section-i {
        height: 25vh;
    }
    main .section-i .conteudo-section-i {
        width: 80%;
        height: 20vh;
    }

    main .section-ii {
        height: 60vh;
    }
    main .section-ii .conteudo-section-ii {
        height: 55vh;
    }
    main .section-ii .conteudo-section-ii .imagem-section {
        width: 40%;
    }
    main .section-ii .conteudo-section-ii .texto-section {
        width: 45%;
        height: 50vh;
    }

    main .section-iii {
        height: 60vh;
    }
    main .section-iii .conteudo-section-iii {
        height: 55vh;
    }
    main .section-iii .conteudo-section-iii .imagem-section {
        width: 40%;
    }
    main .section-iii .conteudo-section-iii .texto-section {
        width: 45%;
        height: 50vh;
    }

    main .section-iii .conteudo-section-iii .texto-section .link {
        width: 40%;
    }

}

@media (max-width: 730px) {

    main .section-iii .conteudo-section-iii .texto-section .link {
        width: 55%;
        height: 7vh;
    }

}

@media (max-width: 611px) {

    main .section-iii .conteudo-section-iii .texto-section .link {
        width: 60%;
        height: 10vh;
    }

    main .section-i .conteudo-section-i {
        width: 75%;
        height: 20vh;
    }
}

@media (max-width: 575px) {


    main .section-i .conteudo-section-i {
        width: 100%;
        height: 20vh;
    }
}
