* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .conteudo-header {
    width: 95%;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
span {
    color: #7BC043;
}
.conteudo-header h1 {
    color: #333333;
}

header .conteudo-header .opcoes {
    width: 20%;
    height: 5vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header .conteudo-header .opcoes ul {
    display: flex;
    list-style: none;
    gap: 10px;
}
header .conteudo-header .opcoes ul a {
    text-decoration: none;
    color: #333333;
}
header .conteudo-header .opcoes ul a:hover {
    text-decoration: underline;
    color: #7BC043;
}
main .section-i {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
main .section-i .conteudo-section-i {
    width: 50%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
main .section-i .conteudo-section-i .frase {
    width: 95%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.frase h1 {
    color: #333333;
}

main .section-ii {
    width: 100%;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .section-ii .conteudo-section-ii {
    width: 95%;
    height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
main .section-ii .conteudo-section-ii .imagem-section {
    width: 20%;
    height: 25vh;
    display: flex;
    justify-content: center;
}
main .section-ii .conteudo-section-ii .imagem-section img {
    height: 25vh;
}
main .section-ii .conteudo-section-ii .texto-section {
    width: 40%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .section-ii .conteudo-section-ii .texto-section p {
    width: 95%;
} 

main .section-iii {
    width: 100%;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .section-iii .conteudo-section-iii {
    width: 95%;
    height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
main .section-iii .conteudo-section-iii .imagem-section {
    width: 20%;
    height: 25vh;
    display: flex;
    justify-content: center;
}
main .section-iii .conteudo-section-iii .imagem-section img {
    height: 25vh;
}
main .section-iii .conteudo-section-iii .texto-section {
    width: 40%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main .section-iii .conteudo-section-iii .texto-section p {
    width: 95%;
}
main .section-iii .conteudo-section-iii .texto-section .link {
    background-color: #333333;
    width: 30%;
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 5px;
}
main .section-iii .conteudo-section-iii .texto-section .link a {
    text-decoration: none;
    color: white;
}
main .section-iii .conteudo-section-iii .texto-section .link a:hover {
    text-decoration: underline;
    color: #7BC043;
}
