* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}


header {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .cabecalho {
    width: 80%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
p {
    font-size: 0.7rem;
}
h1 {
    color: #333333;
}
span {
    color: #7BC043;
}

main {
    width: 100%;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

main .cadastro {
    width: 70%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


main .cadastro .formulario {
    width: 90%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .cadastro .titulo {
    width: 40%;
    display: flex;  
    justify-content: flex-end;
}

main .cadastro .formulario form {
    width: 40%;
    gap: 5px;
    display: flex;
    flex-direction: column;
}

main .cadastro .botoes {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

main .cadastro .formulario .botoes button {
    width: 100%;
}

main .cadastro .logos {
    width: 40%;
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
main .cadastro .logos img {
    height: 10vh;
    border-radius: 100%;
}