* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

main .pedido {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .pedido .titulo {
    width: 40%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

main .pedido .frase {
    width: 46%;
    height: 3vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
p {
    font-size: 0.7rem;
}
span {
    color: #7BC043;
}
h1 {
    color: #333333;
}


main .pedido .formulario {
    width: 40%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
main .pedido .formulario form {
    width: 48%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .pedido .formulario input {
    width: 95%;
    margin-top: 2px;
}

main .pedido .formulario form .botoes {
    width: 96%;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .pedido .logos {
    width: 20%;
    height: 15vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
main .pedido .logos img {
    height: 10vh;
    border-radius: 100%;
}
