* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}


header {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
header .cabecalho {
    width: 80%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
p {
    font-size: 0.7rem;
}
h1 {
    color: #333333;
}
span {
    color: #7BC043;
}

main {
    width: 100%;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

main .atualizacao {
    width: 70%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


main .atualizacao .formulario {
    width: 90%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main  .formulario .dados-pedido {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
main .formulario .dados-pedido input {
    width: 40%;
}
main .formulario .dados-etapas {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
main .formulario .dados-etapas select {
    width: 40%;
}
main .formulario .dados-extras {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
main .formulario .dados-extras input {
    width: 40%;
}

main .atualizacao .titulo {
    width: 40%;
    display: flex;  
    justify-content: flex-end;
}

main .atualizacao .formulario form {
    width: 40%;
    gap: 5px;
    display: flex;
    flex-direction: column;
}

main .atualizacao .botoes {
    width: 100%;
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
}

main .atualizacao .formulario .botoes button {
    width: 90%;
}

main .atualizacao .logos {
    width: 50%;
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}
main .atualizacao .logos img {
    height: 10vh;
    border-radius: 100%;
}